.image-container {
    width: 100%;
    height: 98vh;
    background-image: url('../images/image14.jpg'); /* رابط الصورة الخاصة بك */
    background-size: cover;
    background-position: center;
    position: relative;
}
